In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read text file from Camden County drivers involved in vehicles in year of 2017
df1=pd.read_table('Camden_accidents/Camden2017Vehicles.txt', delimiter=',', names=('Number', 'Vehicle Number', 'Insurance Company','Owner State','Maker of Vehicle', 'Model', 'Color', 'Year of Vehicle','License Plate State', 'Vehicle Weight Rating', 'Towed',
                                                                                   'Removed by', 'At Scene', 'Initial Impact Location', 'Principal Damage Location', 'Extent of Damage', 'Traffic Controls', 'Vehicle Type', 'Vehicle Use', 'Special Function Vehicles',
                                                                                   'Cargo Body Type', 'Circumstance 1', 'Circumstance 2', 'Direction of Travel', 'Pre-Crash Action', 'First Sequence', 'Second', 'Third', 'Fourth', 'MHE', 'OOP','HM', 'HC', 'HP', 'USDOT N',
                                                                                   'MCMX', 'Other flag', 'Other number', 'Carrier Name', 'HRDF'))

In [3]:
df1.head()

,Number,Vehicle Number,Insurance Company,Owner State,Maker of Vehicle,Model,Color,Year of Vehicle,License Plate State,Vehicle Weight Rating,...,OOP,HM,HC,HP,USDOT N,MCMX,Other flag,Other number,Carrier Name,HRDF
0,2017040217-036-A,1,,NJ,NISSAN,ALTIMA,WT,2007,NJ,,...,,,,,,,,,...,Y
1,2017040217-036-A,2,,,,,,,,,...,,,,,,,,,...,
2,2017040217-067-A,1,,PA,JEEP,GRAND CHER,BK,2011,PA,,...,,,,,,,,,...,
3,2017040217-067-A,2,,NJ,MAZDA,323,WT,2005,NJ,,...,,,,,,,,,...,
4,2017040217-161-A,1,962,NJ,HONDA,CIVIC,BK,2016,NJ,,...,,,,,,,,,...,

In [4]:
df1.shape

(29804, 40)

In [5]:
df1.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df1.isnull().sum()

Number                           0
Vehicle Number                   0
Insurance Company             5183
Owner State                   1671
Maker of Vehicle              1303
Model                         1715
Color                         1493
Year of Vehicle               1461
License Plate State           1357
Vehicle Weight Rating        28358
Towed                        29803
Removed by                    1920
At Scene                       959
Initial Impact Location        405
Principal Damage Location      822
Extent of Damage              1316
Traffic Controls              2331
Vehicle Type                   351
Vehicle Use                    375
Special Function Vehicles    27847
Cargo Body Type              27419
Circumstance 1                1208
Circumstance 2               22846
Direction of Travel           1533
Pre-Crash Action               152
First Sequence                  81
Second                       25168
Third                        28261
Fourth                       29103
MHE                           2713
OOP                          26945
HM                           28403
HC                           25068
HP                           29790
USDOT N                      28987
MCMX                         29777
Other flag                   29804
Other number                 29804
Carrier Name                 28576
HRDF                         27638
dtype: int64

In [6]:
# Drop columns with limted values
df1=df1.drop(columns=['Vehicle Weight Rating' ,'Towed','Special Function Vehicles', 'Cargo Body Type', 'Circumstance 2', 'Second',
                     'Third','Fourth','OOP','HM', 'HC', 'HP', 'USDOT N', 'MCMX', 'Other flag', 'Other number', 'Carrier Name' ])

In [7]:
df1.shape

(29804, 23)

In [8]:
df1.head().T

,0,1,2,3,4
Number,2017040217-036-A,2017040217-036-A,2017040217-067-A,2017040217-067-A,2017040217-161-A
Vehicle Number,1,2,1,2,1
Insurance Company,NaN,NaN,NaN,NaN,962
Owner State,NJ,NaN,PA,NJ,NJ
Maker of Vehicle,NISSAN,NaN,JEEP,MAZDA,HONDA
Model,ALTIMA,NaN,GRAND CHER,323,CIVIC
Color,WT,NaN,BK,WT,BK
Year of Vehicle,2007,NaN,2011,2005,2016
License Plate State,NJ,NaN,PA,NJ,NJ
Removed by,2,NaN,3,3,1
At Scene,1,NaN,5,3,1
Initial Impact Location,06,NaN,03,12,12
Principal Damage Location,06,NaN,04,12,12
Extent of Damage,02,NaN,04,04,02
Traffic Controls,11,NaN,03,03,04
Vehicle Type,01,NaN,04,01,01
Vehicle Use,01,NaN,01,01,01
Circumstance 1,10,NaN,08,25,02
Direction of Travel,02,NaN,03,01,01
Pre-Crash Action,13,NaN,04,01,01
First Sequence,59,NaN,26,26,26
MHE,59,NaN,26,26,26
HRDF,Y,NaN,NaN,NaN,NaN

In [9]:
df1.Color.value_counts()

BK                5807
WT                5479
GY                3488
BL                3023
TN                2754
RD                2440
SL                1972
GN                1281
GD                 537
BN                 363
BG                 357
MN                 323
YL                 287
OG                  98
PL                  39
TQ                  29
CL                  14
CM                  13
PK                   3
 CIVIC DEL SOL       2
XE                   1
XLT)                 1
Name: Color, dtype: int64

In [10]:
df1['License Plate State'].value_counts()

NJ      24426
PA       2495
NY        207
DE        198
MD        144
        ...
NM          1
NV          1
WY          1
1998        1
2016        1
Name: License Plate State, Length: 64, dtype: int64

In [11]:
df1=df1.drop(columns=['Insurance Company' ,'Owner State','Color', 'License Plate State', 'Removed by', 'Direction of Travel','First Sequence', 'MHE' ])

In [12]:
df1.shape

(29804, 15)

In [13]:
df1.head(10)

,Number,Vehicle Number,Maker of Vehicle,Model,Year of Vehicle,At Scene,Initial Impact Location,Principal Damage Location,Extent of Damage,Traffic Controls,Vehicle Type,Vehicle Use,Circumstance 1,Pre-Crash Action,HRDF
0,2017040217-036-A,1,NISSAN,ALTIMA,2007,1,06,06,02,11,01,01,10,13,Y
1,2017040217-036-A,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017040217-067-A,1,JEEP,GRAND CHER,2011,5,03,04,04,03,04,01,08,04,NaN
3,2017040217-067-A,2,MAZDA,323,2005,3,12,12,04,03,01,01,25,01,NaN
4,2017040217-161-A,1,HONDA,CIVIC,2016,1,12,12,02,04,01,01,02,01,NaN
5,2017040217-161-A,2,HARLEY DAVIDSON,ELECTRIC,2007,3,06,03,04,04,08,01,25,01,NaN
6,2017040217-194-A,1,MITSUBISHI,ECLIPSE,2001,1,02,02,03,04,01,01,02,01,NaN
7,2017040217-194-A,2,NORTH AMER,TRANSIT BUS,2008,1,07,17,02,04,31,01,25,12,NaN
8,2017040217-280-A,1,FORD,CROWN VIC,2009,3,12,12,04,04,01,02,02,01,NaN
9,2017040217-280-A,2,GMC,SIERRA C150,2000,1,06,06,02,04,05,01,25,08,NaN

In [14]:
df1['Vehicle Use'].value_counts()

01    25233
02     2603
00     1110
03      389
04       61
05       20
99       13
Name: Vehicle Use, dtype: int64

In [15]:
df2=pd.read_table('Camden_accidents/Camden2018Vehicles.txt', delimiter=',', names=('Number', 'Vehicle Number', 'Insurance Company','Owner State','Maker of Vehicle', 'Model', 'Color', 'Year of Vehicle','License Plate State', 'Vehicle Weight Rating', 'Towed',
                                                                                   'Removed by', 'At Scene', 'Initial Impact Location', 'Principal Damage Location', 'Extent of Damage', 'Traffic Controls', 'Vehicle Type', 'Vehicle Use', 'Special Function Vehicles',
                                                                                   'Cargo Body Type', 'Circumstance 1', 'Circumstance 2', 'Direction of Travel', 'Pre-Crash Action', 'First Sequence', 'Second', 'Third', 'Fourth', 'MHE', 'OOP','HM', 'HC', 'HP', 'USDOT N',
                                                                                   'MCMX', 'Other flag', 'Other number', 'Carrier Name', 'HRDF'))

In [16]:
df2.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df2=df2.drop(columns=['Vehicle Weight Rating' ,'Towed','Special Function Vehicles', 'Cargo Body Type', 'Circumstance 2', 'Second',
                     'Third','Fourth','OOP','HM', 'HC', 'HP', 'USDOT N', 'MCMX', 'Other flag', 'Other number', 'Carrier Name' ])
df2=df2.drop(columns=['Insurance Company' ,'Owner State','Color', 'License Plate State', 'Removed by', 'Direction of Travel','First Sequence', 'MHE' ])

In [17]:
df2.shape

(30734, 15)

In [21]:
df3=pd.read_table('Camden_accidents/Camden2019Vehicles.txt', delimiter=',', names=('Number', 'Vehicle Number', 'Insurance Company','Owner State','Maker of Vehicle', 'Model', 'Color', 'Year of Vehicle','License Plate State', 'Vehicle Weight Rating', 'Towed',
                                                                                   'Removed by', 'At Scene', 'Initial Impact Location', 'Principal Damage Location', 'Extent of Damage', 'Traffic Controls', 'Vehicle Type', 'Vehicle Use', 'Special Function Vehicles',
                                                                                   'Cargo Body Type', 'Circumstance 1', 'Circumstance 2', 'Direction of Travel', 'Pre-Crash Action', 'First Sequence', 'Second', 'Third', 'Fourth', 'MHE', 'OOP','HM', 'HC', 'HP', 'USDOT N',
                                                                                   'MCMX', 'Other flag', 'Other number', 'Carrier Name', 'HRDF'))
df3=df3.drop(columns=['Vehicle Weight Rating' ,'Towed','Special Function Vehicles', 'Cargo Body Type', 'Circumstance 2', 'Second',
                     'Third','Fourth','OOP','HM', 'HC', 'HP', 'USDOT N', 'MCMX', 'Other flag', 'Other number', 'Carrier Name' ])
df3=df3.drop(columns=['Insurance Company' ,'Owner State','Color', 'License Plate State', 'Removed by', 'Direction of Travel','First Sequence', 'MHE' ])

df3.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [22]:
df3.shape

(29415, 15)

In [23]:
Camden_V=pd.concat([df1,df2, df3])

In [24]:
Camden_V.shape

(89953, 15)